.body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: chocolate;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200px;
	font-weight: 900;
	background-color: aqua;
	color:brown;
}