body {
	/* FONT & COLORS */
	font-family: 'Roboto';
	font-size: 22px;

	/* POSITION */
	height: 100vh;
	width: 99vw;
	margin: 0;
}

button {
	color: #F9FAF8;
	background-color: #3882F6;
}

.content {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* gap: 10px; */
}

.headerContainer {
	width: 100%;
	background-color: #1F2937;

	display: flex;
	justify-content: center;
}

.header {
	width: 70%;
	background-color: #1F2937;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header a {
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
	margin: 15px;
}

.header .logo{
	font-size: 24px;
	color: #F9FAF8;
}

.heroContainer {
	width: 100%;
	background-color: #1F2937;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.heroSection {
	width: 70%;

	border-style: dotted;
	border-color: #F9FAF8;

	display: flex;
	justify-content: space-between;
	gap: 15%;
}
.heroSection h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
}
.heroSection p {
	font-size: 18px;
	color: #E5E7EB;
}

.imageBox {
	background-color: gray;
	width: 400px;
	height: 200px;
}

.infoContainer {
	width: 100%;

	display: flex;
	justify-content: center;
}

.infoSection {
	width: 60%;

	border-style: dotted;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.infoList {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.itemImage {
	border: 3px solid #3882F6;
	border-radius: 15px;
	width: 150px;
	height: 150px;
}

.itemImage img {
	width: 150px;
	height: 150px;
	border-radius: 15px;
}

.quoteContainer {
	width: 100%;
	background-color: #E5E7EB;
	padding: 5%;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quoteSection {
	width: 60%;

	border-style: dotted;


	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: #1F2937

}

.floatRight {
	float: right;
	font-size: 24px;
	font-weight: 900;
	font-style: normal;
}

.footerContainer {
	width: 100%;
	background-color: #1F2937;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 70%;
	background-color: #1F2937;

	color: #E5E7EB;
	text-decoration: none;
	font-size: 18px;

	display: flex;
	justify-content: center;
	align-items: center;
}